/*common start*/
body{
	font-family: 'Lato', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #3d3d3d;
}
/*common end*/
/*header start*/
header{
	background-image: url(../images/header.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 50px 0 100px;
}
.header_top{}
.c_nav{}

.c_nav[data]
.logo{
	margin: 0 auto;
}
.logo a img{}
.menu{
    margin:15px auto 0;
}
.menu ul li a{
	font-size: 25px;
    font-weight: 400;
    color: #ffffff !important;
    padding: 0 25px !important;
}
.menu ul li{

}
.menu ul li a:hover{
	color: #626262 !important;
}


.header_body{}
.h_text{}
.h_text h1{
	font-family: 'Grand Hotel', cursive;
	font-size: 230px;
	font-weight: 400;
	color: #ffffff;

}
.h_text p{
	margin-bottom: 30px;
	font-size: 25px;
    color: #ffffff;
    word-spacing: 2px;
}
.btn_common{
	  width: 43%;
    height: 100%;
	 font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 700;
    color: #e8565e;
    background-color: #ffffff;
    text-transform: uppercase;
    border:none;
    border-radius: 30px;
    transition: .33s;
     padding: 10px 0px;
}

.btn_common:hover{
   background-color: #626262 !important;
   color:#ffffff !important;
}


/*header end*/
/*popular start*/
.Popular{
	background-image: url(../images/popular.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 0 120px;
}
.p_title{}
.p_h1{
	font-family: 'Grand Hotel', cursive;
	font-size: 120px;
	font-weight:400;
	color:#e8565e;
}
.p_p{
	font-family: 'Lato', sans-serif;
    font-size: 25px;
    font-weight: 400;
    color: #333333;
    word-spacing: 2px;

}

.p_item{
	margin-right: 20px;
    margin-top: 60px;
}
.p_img{
	margin-bottom: 10px;
}
.p_img img{
	    width: 80%;
}
.p_h2{
	font-family: 'Grand Hotel', cursive;
	font-size: 65px;
	font-weight:400;
	color:#e8565e;
}
.p_text{
	font-size: 22px;
	color: #333333;
	word-spacing: 1px;
}


/*popular end*/
/*Statistic start*/
.Statistic{
	background-image: url(../images/statistic.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	padding: 100px 0 120px;

}
.s_color{
	color: #ffffff;
}
.s_card{
	margin: 60px auto 0;
    width: 70%;
    height: 100%;
    border-radius: 50%;
    border: 5px dashed #ffffff;
	
}
.s_h2{
	 margin-top: 55px;
	font-family: 'Lato', sans-serif;
    font-size: 50px;
    font-weight: 700;
    color: #ffffff;
}
.s_p{
	font-family: 'Lato', sans-serif;
    font-size: 40px;
    font-weight: 500;
    color: #ffffff;
}
/*Statistic end*/
/*our menu start*/
.u_menu{
	padding: 100px 0 120px;
	background-color: #eee6cc;
}
.menu_item{
	    margin-top: 60px;
	    padding: 0 25px;
}
.menu_img{
	margin-top: 15px;
}
.menu_img img{

}
.menu_text{}
.m_h2{
	font-family: 'Grand Hotel', cursive;
	font-size: 50px;
	font-weight:400;
	color:#e8565e;
}
.m_p{

	font-size: 22px;
}

/*our menu end*/
 /*Delicious start*/
 .Delicious{}
 .d_img{

 }
 .d_img img{
     width: 100%;
 }
 .d_text{
 	  margin: 250px 0px 0 30px;
 	  text-align:left;
 }
 .d_text h1{
 	font-family: 'Grand Hotel', cursive;
	font-size: 100px;
	font-weight:400;
	color:#e8565e;
	
 }
 .d_text p{
 	  margin: 10px 0 25px;
     font-size: 29px;
     
 }
 .btn_color{
    background-color:#e8565e;
 	 color: #ffffff;
 }

  /*Delicious end*/
  /*Package start*/
  .Package{
     background-color: #eee6cc;
     padding: 100px 0 120px;
  }
 .Pack_item{
 	  margin: 60px auto 0;
 	  padding: 40px 0px 20px;
 	  width: 90%;
 	  height: 430px;
 	  /*border: 1px solid;*/
 	  text-align: center;
 	  background-color: #faf5e4;
 	  border-radius: 30px;
 	  transition: .33s;
 } 
 .Pack_item:hover{
      background: #FFFFFF;
      box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.1);
 }
 .Pack_img{}
 .Pack_img img{}
 .Pack_h2{
 	 margin: 25px 0 8px;
   font-family: 'Grand Hotel', cursive;
	font-size: 50px;
	font-weight:400;
	color:#e8565e;
 }
 .Pack_p{
 	 font-size: 22px;
 	 color: #3d3d3d;
 }
 .Pack_btn{
 	margin-top: 20px;
 	 width: 80%;
    height: 15%;

 	font-weight: 400;
 	color: #ffffff;
 	background-color:#e8565e;
 }

  /*Package end*/
 /*Chef start*/
 .Chef{
 	background-image: url(../images/chef.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding: 100px 0 120px;
	
 }
 .c_content{
 	  text-align: center;
 }
 .c_img{}
 .c_img img{
 	    width: 28%;
 }
 .c_text{}
 .c_text p{
 	 margin: 30px 0px;
 	 font-size: 45px;
    font-weight: 600;
 }
 .c_text h1{
 	font-family: 'Grand Hotel', cursive;
	font-size: 80px;
	font-weight:400;
	color:#e8565e;
 }
 /*Chef end*/
 /*form start*/
 .form{
 	 padding: 100px 0 120px;
 	 background-color: #faf5e4;

 }
 /*2nd row*/
.c_form{
	margin-top:35px;
    
}
.c_input{
	
	width: 100%;
	height: 60px;
	font-family: 'Lato', sans-serif;
    font-size: 22px;
    font-weight: 400;
    color: #000000;
    border-radius: 30px;
    
}
.c_submit{
	
	 width: 100%;
	 height: 60px;
	 font-family: 'Lato', sans-serif;
    background-color:#e8565e;
    font-weight: 700;
    font-size: 25px;
    color: #ffffff;
    border-radius: 30px;
    text-transform: uppercase;
    transition: .33s;

}
.c_submit:hover {
	 background-color:#626262 !important;
}

 /*form end*/
 /*footer start*/
 footer{
 	  padding: 100px 0 120px;
 	  background-color: #2a2a2a;
 }
 .f_1{}
 .f_h2{
 	font-family: 'Grand Hotel', cursive;
	font-size: 50px;
	font-weight:400;
	color:#ffffff;
 }
 .f_p{
 	    font-size: 23px;
 	    color:#ffffff ;
 }
 .f_2{}
 .f_2 h2{
 	font-family: 'Grand Hotel', cursive;
	font-size: 38px;
	font-weight:400;
	color:#ffffff;
 }
 .f_2 p a{
 	 font-size: 18px;
 	 color: #ffffff;
 	 line-height: 30px;
    text-decoration: none;
 }
 .f_2 p i{
 	 margin: 6px;
 	 padding: 5px;
 	 font-size: 13px;
 	 color: #000000;
 	 background-color: white;
    border-radius: 50%;
 }

 /*footer end*/
